Django>=4.2,<5.0
reportlab
Pillow
gunicorn
psycopg2-binary
django-environ
whitenoise
google-api-python-client
google-auth
weasyprint
openpyxl
jpholiday
APScheduler
pdfminer.six>=20221105
pyotp>=2.9
webauthn>=2.1
qrcode>=7.4
cryptography>=42.0
